<div class="p-3">
  <div class="card">
    <div class="card-body">
      {{appState.productState.keyWord}} <br>
      <input type="text" [(ngModel)]="appState.productState.keyWord">
      <button class="btn btn-outline-success" (click)="searchProduct()">
        Rechercher <!-- @TODO 2:14:45 -->
        <i class="bi bi-search"></i>
      </button>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Checked</th>
          </tr>
        </thead>
        <tbody>
        <!-- ici on utilise | async pour permettre à la variable de souscrire à l'observable -->
          <tr *ngFor="let product of appState.productState.products">
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>
              <button class="btn btn-outline-success m-1" (click)="handleCheckProduct(product)"
                      *ngIf="appState.authState.roles.includes('ADMIN')">
                <i [class]="product.checked?'bi bi-check':'bi bi-circle'"></i>
              </button>
              <button class="btn btn-outline-warning m-1" (click)="handleEditProduct(product)"
                      *ngIf="appState.authState.roles.includes('ADMIN')">
                <i class="bi bi-pencil"></i>
              </button>
              <button class="btn btn-outline-danger m-1" (click)="handleDeleteProduct(product)"
                      *ngIf="appState.authState.roles.includes('ADMIN')">
                <i class="bi bi-trash"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <ul class="nav nav-pills">
        <!-- [].constructor(this.totalPages) permet de parcourir un tableau à une dimension de totalPages --->
        <li *ngFor="let page of [].constructor(appState.productState.totalPages); let i = index">
          <button (click)="handleGoToPage(i+1)"
                  [ngClass]="this.appState.productState.currentPage == i+1 ? 'btn-success' : 'btn-outline-success'"
                  class="btn m-1">
            {{ (i+1) }}
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
